<div *ngIf="(data.entity && dataLoaded); else showElse">
  <form (ngSubmit)="onSubmit()"
        [formGroup]="form"
        novalidate
  >
    <form-header [data]="data"
                 [(statusId)]="form.value.StatusId"
                 [(StatusReasonId)]="form.value.StatusReasonId"
    ></form-header>
    <div class="panel-group form-body" role="tablist" aria-multiselectable="true">
      <div class="panel panel-group panel-default panel-card">
        <div class="panel panel-default">
          <div class="panel-heading" role="tab" id="headingOne">
            <h3 class="panel-title">
              Company
            </h3>
          </div>
          <div class="panel-body row">
            <div class="col-sm-12">
              <div class="form-group">
                <df-formfield [form]="form" [formField]="formFields.CompanyName"></df-formfield>
              </div>
            </div>
          </div>
        </div>
        <div class="panel panel-default" data-form-group-id="address">
          <div class="panel-heading" role="tab">
            <h3 class="panel-title">
              Primary Address
            </h3>
          </div>
          <div class="panel-body row">
            <div class="col-sm-12">
              <div class="form-group">
                <df-formfield [form]="form" [formField]="formFields.PrimaryAddressLine1"></df-formfield>
              </div>
              <div class="form-group">
                <df-formfield [form]="form" [formField]="formFields.PrimaryAddressLine2"></df-formfield>
              </div>
            </div>
            <div class="col-sm-3">
              <div class="form-group">
                <df-formfield [form]="form" [formField]="formFields.PrimaryCity"></df-formfield>
              </div>
            </div>
            <div class="col-sm-3">
              <df-formfield [form]="form" [formField]="formFields.PrimaryState"></df-formfield>
            </div>
            <div class="col-sm-3">
              <div class="form-group">
                <df-formfield [form]="form" [formField]="formFields.PrimaryPostal"></df-formfield>
              </div>
            </div>
            <div class="col-sm-3">
              <df-formfield [form]="form" [formField]="formFields.PrimaryCountry"></df-formfield>
            </div>
          </div>
        </div>
        <div class="panel panel-default" data-form-group-id="primary-contact">
          <div class="panel-heading" role="tab">
            <h3 class="panel-title">
              Primary Contact
            </h3>
          </div>
          <div class="panel-body row">
            <div class="col-sm-3">
              <div class="form-group">
                <df-formfield [form]="form" [formField]="formFields.PrimaryFirstName"></df-formfield>
              </div>
            </div>
            <div class="col-sm-3">
              <div class="form-group">
                <df-formfield [form]="form" [formField]="formFields.PrimaryLastName"></df-formfield>
              </div>
            </div>
            <div class="col-sm-3">
              <div class="form-group">
                <df-formfield [form]="form" [formField]="formFields.PrimaryPhone"></df-formfield>
              </div>
            </div>
            <div class="col-sm-3">
              <div class="form-group">
                <df-formfield [form]="form" [formField]="formFields.PrimaryEmailAddress"></df-formfield>
              </div>
            </div>
          </div>
        </div>
      </div>
      <ng-container *ngIf="app.getAppData('sidebarFormShown') !== true && !data.newRecord">
        <div class="panel panel-default panel-card"
             data-form-group-id="offer"
             [ngClass]="{
             'display-mode-view': getPanelCardClass('offer', 'view'),
             'display-mode-edit': getPanelCardClass('offer', 'edit')
             }"
             (click)="togglePanelCardEditMode($event)"
             [attr.aria-expanded]="!data.collapse.offer"
        >
          <div class="panel-heading" role="tab" id="heading-offer">
            <a class="collapsed" role="button" data-toggle="collapse"
               (click)="data.collapse.offer = !data.collapse.offer"
               aria-controls="collapse-offer"
               [attr.aria-expanded]="!data.collapse.offer"
            >
              <div class="col-sm-10">
                <h4 class="panel-title">
                  <i class="fa fa-play"></i>
                  Offers
                </h4>
              </div>
              <div class="col-sm-2 text-right card-tools">
                <i class="glyphicon glyphicon-pencil card-edit"></i>
              </div>
            </a>
          </div>
          <div id="collapse-offer"
               class="panel-collapse collapse"
               role="tabpanel" aria-labelledby="heading-offer"
               [ngbCollapse]="data.collapse.offer"
          >
            <div *ngIf="(isAppLoaded != true); else showElse" class="panel-body">
              <ng-template #showElse>
                <ngb-progressbar type="info"
                                 [value]="100" [striped]="true"
                                 [animated]="true"><i>Loading...</i>
                </ngb-progressbar>
              </ng-template>
              <eoa-associated-entity
                [entityAbbr]="'OFF'"
              ></eoa-associated-entity>
            </div>
          </div>
        </div>
        <entity-comment-panel
          [form]="form"
          [formFields]="formFields"
          [data]="data"
        ></entity-comment-panel>
        <entity-audit-panel
          [form]="form"
          [formFields]="formFields"
          [data]="data"
        ></entity-audit-panel>
      </ng-container>
    </div>
    <form-footer
      [form]="form"
    ></form-footer>
  </form>
</div>
<ng-template #showElse>
  <ngb-progressbar type="info"
                   [value]="100" [striped]="true"
                   [animated]="true"><i>Loading...</i>
  </ngb-progressbar>
</ng-template>


