$color-green: #42A948;
$color-red: #a94442;
$color-grey: #eff3f6;
$color-mid-grey: #d4d4d4;
$color-dark-grey: #7f8fa4;

$font-sans-1: Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-sans-2: Roboto;

// @TODO vendor-specific:
//-webkit-box-shadow: 1px 1px 2px 0px rgba(50, 50, 50, 0.75);
//-moz-box-shadow: 1px 1px 2px 0px rgba(50, 50, 50, 0.75);
$box-shadow-deep: 0 5px 5px -3px rgba(0, 0, 0, 0.2), 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.2);
$box-shadow-shallow: 0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 2px 1px -1px rgba(0, 0, 0, 0.2);

$caret-width: .3em !default;
